$blue:    #31629e;
$indigo:  #5f1bcc;
$purple:  #5c37a0;
$pink:    #da5e98;
$red:     #ad2e3b;
$orange:  #e78535;
$yellow:  #ffc107;
$green:   #21bd46;
$teal:    #26b48a;
$cyan:    #158394;


$border-radius:               .25rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;


$link-hover-decoration: none;
$emphasized-link-hover-darken-percentage: 7%